# DICT

__flexibly-sized collection of key-value pairs, where key and value are Python objects__  
A more common name for it is hash map or associative array.

__Creation__  
* curly braces { } and using colons : to separate keys and values  
* by using dict() method over (key, value) pairs  
* { } = empty dict

* curly braces { } and using colons : to separate keys and values

In [1]:
d1={'key1':1, 'key2':2}
print(d1)

{'key1': 1, 'key2': 2}

In [2]:
d1['key1']

1

* by using dict() method over (key, value) pairs

In [4]:
d2=dict(key1=1, key2=2)
d2

{'key1': 1, 'key2': 2}

In [5]:
d1=dict('key1':1, 'key2':2)

SyntaxError: invalid syntax (<ipython-input-5-bb2e56dae965>, line 1)

In [10]:
d3=dict((('key1',1),('key2',2)))
d3

{'key1': 1, 'key2': 2}

__Using zip function to pair the elements__

In [12]:
values = [1, 2, 3, 4, 5]
keys=('a','b','c','d','e')
d4=dict(zip(keys, values))

In [13]:
d4

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [14]:
d4['St']='Split'

In [15]:
d4

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'St': 'Split'}

In [16]:
d4['St'] = 'Just a city'

In [17]:
d4

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'St': 'Just a city'}

In [18]:
del d4['a']

In [19]:
d4

{'b': 2, 'c': 3, 'd': 4, 'e': 5, 'St': 'Just a city'}

In [21]:
list(d4.keys())

['b', 'c', 'd', 'e', 'St']

In [23]:
values=d4.values()

In [25]:
'b' in d4

True

In [26]:
'df' in d4

False

In [27]:
d4.pop('St')

'Just a city'

In [28]:
d4

{'b': 2, 'c': 3, 'd': 4, 'e': 5}

__keys, values, items__

keys() = lists of the keys --> not sorted
values() = lists of the values
items() = object of items --> not sorted

In [81]:
d={'a': 'some value', 'b': [1, 2, 3, 4], 'St': 'Split', 4: 'integer'}
d.keys()

dict_keys(['a', 'b', 'St', 4])

__del vs pop vs popitem vs get vs clear__

In [9]:
d={'a': 'some value', 'b': [1, 2, 3, 4], 'St': 'Split', 4: 'integer'}

In [10]:
d.get(4)

'integer'

In [11]:
d.popitem()

(4, 'integer')

In [12]:
d.popitem()

('St', 'Split')

In [13]:
del d['a']

In [15]:
d

{'b': [1, 2, 3, 4]}

In [16]:
d.clear()
d

{}

__get & setdefault__

get(S, V) = search for S, and return V if you donâ€™t find it

In [17]:
d={'a': 'some value', 'b': [1, 2, 3, 4], 'St': 'Split', 4: 'integer'}

In [18]:
d.get('a')

'some value'

In [19]:
d.get('c')

In [20]:
d.get('c', "Not Found")

'Not Found'

__setdefault()__ --> returns the key value available in the dictionary __if given key is not available__ then it will return provided default value __and insert it to the dictionary.__ If not provided, the default_value will be None

In [21]:
d.setdefault('a','Not Found')
d

{'a': 'some value', 'b': [1, 2, 3, 4], 'St': 'Split', 4: 'integer'}

In [22]:
d.setdefault('age','Not Found')
d

{'a': 'some value',
 'b': [1, 2, 3, 4],
 'St': 'Split',
 4: 'integer',
 'age': 'Not Found'}

__update(D) = merged into and overwrite if key already exists__

In [23]:
d2={'a':"new value", 'bbb':'Dinamo'}
d.update(d2)
d

{'a': 'new value',
 'b': [1, 2, 3, 4],
 'St': 'Split',
 4: 'integer',
 'age': 'Not Found',
 'bbb': 'Dinamo'}

# Common example of dict usage

* alternative to returning multiple values might be to return a dict instead:

In [29]:
def f_dict():
    a=5
    b=6
    c=7
    return {'a':a, 'b':b, 'c':c}

values=f_dict()

In [30]:
values

{'a': 5, 'b': 6, 'c': 7}

-------

# SETS

* __unordered collection of unique elements__ 

* like dicts, but keys only, no values

* creation: 
 * curly braces { }  (no colons inside as no keys are present)   
 * by using set() method
 * set()= empty  set
 * set({ })= set({[ ]})=set(())=set()

In [32]:
s=set([2, 3, 4, 2, 2, 1, 3])
b={2, 3, 4, 2, 2, 1, 3}
type(s), type(b)

(set, set)

In [33]:
s

{1, 2, 3, 4}

# support mathematical operations like:
* a.union(b)			= a | b
* a.intersection(b) 		= a & b
* a.difference(b)		= a - b
* a.symmetric_difference(b)	(XOR) = a ^ b 

__with update suffix --> updates the a set with the result__

In [34]:
a={1, 2, 3, 4, 5}
b={4, 5, 6, 7, 8}

a| b

{1, 2, 3, 4, 5, 6, 7, 8}

In [35]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
a & b

{4, 5}

In [37]:
a -b

{1, 2, 3}

In [38]:
b -a

{6, 7, 8}

In [40]:
{1, 2, 3}=={3, 2, 1}

True

* You can also check if a set is a subset of (is contained in) or a superset of (contains all elements of) another set:
* sets are equal if their contents are equal

In [24]:
a={1, 2, 3, 4, 5}
{3,1,2}.issubset(a)

True

In [25]:
a.issuperset({3,1,2})

True

__discard vs remove__

In [41]:
a

{1, 2, 3, 4, 5}

In [42]:
a.remove(1)

In [43]:
a

{2, 3, 4, 5}

In [44]:
a.remove(1)

KeyError: 1

In [45]:
a.discard(1)